#footer {
  width: 100%;
  padding: 50px;
  background-color: #38433A;
  margin-top: 200px;

  .container-fluid{
    background-color: #38433A;
  .footer__master{
    background-color: #38433A;
    .logo{
      .links{
    a{
      color: #ffffff;
    }
  }
  }
  }
}

  a{
    color: #ffffff;
  }
  p {
    color: var(--monochrome-12);
    color: #ffffff;
  }
  .copyright-details {
    display: flex;
    justify-content: center;
  }
}