
.hero {
  border: 2px solid red;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.85) 100%),url('/src/images/reelstream.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  // filter: grayscale(100%);
}

.hero-content {
  text-align: center;
  margin-bottom: 75px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}