* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
}

body,
input,
select,
textarea {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 400;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul,
li,
p,
a {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  font-style: var(--text-font-style);
  line-height: var(--text-line-height);
  font-weight: var(--text-font-weight);
  text-transform: var(--text-text-transform);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrap {
  width: 100%;
  max-width: 1600px;
}

h1 {
  @include title-h1;
}

h2 {
  @include title-h2;
}

h3 {
  @include title-h3;
}

h4 {
  @include title-h4;
}

h5 {
  @include title-h5;
}

h6 {
  @include title-h6;
}

.container_xl {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  @media only screen and (min-width: 768px) {
     
      // padding: 0px 4.5em;
  
  }

  &.small {
      @media only screen and (min-width: 768px) {
          padding: 0px 4.5em;
      }

      @media only screen and (min-width: 991px) {
          padding: 0px 7.5em;
          max-width: 70em;
      }
  }
  margin: 0 auto;
  padding: 0 15px;
}